.container {
	
	margin-top: 1px;
	}
	.row-header{
		padding-bottom: 20px;
	}
	.row-footer{
		padding:10px;
	}
	header, footer {
	background-color: #ddd;
	}
	header, footer, main, aside{
	padding: 5px;
	}
	.wrath-content-box{
		margin: 10px;
	}
	
	header {
	
	background-color: rgb(188, 206, 152);
	}
	aside{
		background-color: rgb(218, 233, 188);
	}
	footer{
	background-color: rgb(188, 206, 152);
	text-align: center;
	}
	ul{
		list-style-type:  none;
		text-align: left;
		padding: none;
		list-style-position: inside;
		padding-left: 0;
		-webkit-padding-start: 0;
	}
	li{
		padding: 1px;
	}
	.row-no-padding {
		 
		  padding-left: 0 !important;
		  padding-right: 0 !important;
		}
		a:link {
			color: green;
			background-color: transparent;
			text-decoration: none;
		  }
		  .col-md-2 {
			background-color : rgb(247, 253, 235)
			
		  }
		  #color{
			background-color: rgb(218, 233, 188);
		  }
		